<h1>All Flatiron Alums</h1>

<!-- <ul>
  <% @alums.each do |alum| %>
    <li><%= house.address %></li>
    <ul>
      <% house.unclaimed_candies.each do |candy| %>
        <li><%= candy.name %></li>
      <% end %>
    </ul>
  <% end %>
</ul> -->