<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Industry', 'Hours per Day'],
          ['Computer Software',     27],
          ['Information Technology and Services',     7],
          ['Internet', 42],
          ['Research',      1],
          ['Retail',  1],
          ['Design', 1],
          ['Education Management',    4],
          ['Online Media', 3],
          ['Translation and Localization', 1],
          ['Program Development', 1],
          ['Financial Services', 2],
          ['Fine Art', 1],
          ['Marketing and Advertising', 2],
          ['Pharmaceuticals', 1],
          ['Broadcast Media', 1],
          ['Hospital & Health Care', 1],
          ['Law Practice', 1],
          ['Staffing and Recruiting', 1],
          ['Writing and Editing', 1]
        ]);

        var options = {
          is3D: true,
          slices: {  0: {offset: 0.2},
                              1: {offset: 0.2},
                              2: {offset: 0.2}
                    },
          legend: {position: 'left', textStyle: {color: 'black', fontSize: 12}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </body>
</html>