<h1>Ready for the magic?</h1>
<form id="magic-maker" action="/make-magic" method="post">
<button type="submit">YES!</button>
</form>

var data = google.visualization.arrayToDataTable([
  ['Title', 'Rate'],
  ['Software Engineer',    17],
  ['Web Developer',    7],
  ['Software Developer',    6],
  ['Developer',    5],
  ['iOS Developer',    4],
  ['Full-Stack Developer',    5],
  ['Software Engineer Apprentice',    2],
  ['Product Manager',    2],
  ['Ruby Developer',    2],
  ['Web Engineer',    2],
  ['Web Development Fellow',    2],
  ['Node Engineer',    1],
  ['Front End Developer',    1],
  ['Ruby on Rails Developer',    1]
]);