<!DOCTYPE html>
<html>
<head>
  <title>NextStep - Where the Magic Happens!</title>
  <style>
    body {
      background-color: #1f8dd6;
    }
    h1, form {
      text-align: center;
    }
    button {
      width: 100px;
      height: 80px;
      border-radius: 10px;
    }
    
  </style>
</head>

<h1>Ready for the magic?</h1>
<form id="magic-maker" action="/make-magic" method="post">
<button type="submit">YES!</button>

</form>
