<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Flatiron Circles</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure//pure.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure//grids-responsive-old-ie.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure//grids-responsive.css">
  
<!--<![endif]-->



  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="../../css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../../css/layouts/marketing.css">
    <!--<![endif]-->
  



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">


    

    

    

</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Flatiron Circles</a>

        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="#">Tour</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Flatiron Circles</h1>
        <p class="splash-subhead">
            Following the Flatiron journey, one graduate at a time
        </p>
        <p>
            <a href="http://www.flatironschool.com" class="pure-button pure-button-primary">Made with   &#9829;   at The Flatiron School</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Where do Flatiron graduates end up?</h2>

        <script type="text/javascript"></script>
        <style>
            html, body, #map-canvas {
              height: 90%;
              margin: 0px 25px 13px 5px;
              padding: 10px;
            }
        </style>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
            <script>


        // job locations declared below:
            var citymap = {};
              citymap['flatiron_school'] = {
                center: new google.maps.LatLng(40.705313, -74.013911),
                population: 15
              };
              citymap['etsy'] = {
                center: new google.maps.LatLng(40.702858, -73.989392),
                population: 5
              };
              citymap['time_inc'] = {
                center: new google.maps.LatLng(40.760438, -73.980764),
                population: 10
              };
              citymap['new_york_times'] = {
                center: new google.maps.LatLng(40.756205, -73.989914),
                population: 10
              };
              citymap['art_sy'] = {
                center: new google.maps.LatLng(40.718837, -74.002667),
                population: 5
              };
              citymap['percolate'] = {
                center: new google.maps.LatLng(40.720982, -74.001378),
                population: 5
              };
              citymap['constant_contact'] = {
                center: new google.maps.LatLng(40.763451, -73.986866),
                population: 3
              };

            var cityCircle;

            // Define your locations: HTML content for the info window, latitude, longitude
            var locations = [
              ['<h4>The Flatiron School</h4>11 Broadway, New York<br>Currently, <b>20</b> Flatiron alums work here.</p></br>', 40.705313, -74.013911],
              ['<h4>Etsy</h4><br>55 Washington Street, Brooklyn</br>Currently, <b>5</b> Flatiron alums work here.</p>', 40.702858, -73.989392],
              ['<h4>Time, Inc.</h4><br>55 Washington Street, Brooklyn</br>Currently, <b>5</b> Flatiron alums work here.</p>', 40.760438, -73.980764],
              ['<h4>The New York Times</h4><br>55 Washington Street, Brooklyn</br>Currently, <b>5</b> Flatiron alums work here.</p>', 40.756205, -73.989914],
              ['<h4>Artsy</h4><br>55 Washington Street, Brooklyn</br>Currently, <b>5</b> Flatiron alums work here.</p>', 40.718837, -74.002667],
              ['<h4>Percolate</h4><br>55 Washington Street, Brooklyn</br>Currently, <b>5</b> Flatiron alums work here.</p>', 40.720982, -74.001378],
              ['<h4>Constant Contact</h4><br>55 Washington Street, Brooklyn</br>Currently, <b>5</b> Flatiron alums work here.</p>', 40.763451, -73.986866]
            ];

            var icons = [{
                path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                 fillColor: '#',
                 fillOpacity: 0.8,
                 scale: 7,
                 strokeColor: '',
                 strokeWeight: 0.3
             }]

             var icons_length = icons.length;

        // Initialize method:
            function initialize() {

              var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(40.738233, -73.992577),
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                mapTypeControl: false,
                streetViewControl: false,
                panControl: false,
                zoomControlOptions: {
                  positions: google.maps.ControlPosition.LEFT_BOTTOM
                }
              };


              var map = new google.maps.Map(document.getElementById('location-canvas'), 
                  mapOptions);

              for (var city in citymap) {
                var populationOptions = {
                  strokeColor: '#1f8dd6',
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: '#8FC6EA',
                  fillOpacity: 0.35,
                  map: map,
                  center: citymap[city].center,
                  radius: Math.sqrt(citymap[city].population) * 250
                };


                cityCircle = new google.maps.Circle(populationOptions);





          }
        }









            google.maps.event.addDomListener(window, 'resize', initialize);
            google.maps.event.addDomListener(window, 'load', initialize)


            </script>
            <div id='location-canvas' style='width:80%;height:450px;margin:auto;'></div>

        <div class="pure-g">
            <div id="chart_div" style="width: 200px; height: 50px;"></div>
<!--             <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Flatiron Industries
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Responsive Layouts
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div> -->
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <h2 class="content-head content-head-ribbon">Flatiron Industries</h2>
        <!-- <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
 -->            <!-- <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5"> -->
               <script type="text/javascript" src="https://www.google.com/jsapi"></script>
               <script type="text/javascript">
                 google.load("visualization", "1", {packages:["corechart"]});
                 google.setOnLoadCallback(drawChart);
                  function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                      ['Industry', 'Hours per Day'],
                      ['Computer Software',     27],
                      ['Information Technology and Services',     7],
                      ['Internet', 42],
                      ['Research',      1],
                      ['Retail',  1],
                      ['Design', 1],
                      ['Education Management',    4],
                      ['Online Media', 3],
                      ['Translation and Localization', 1],
                      ['Program Development', 1],
                      ['Financial Services', 2],
                      ['Fine Art', 1],
                      ['Marketing and Advertising', 2],
                      ['Pharmaceuticals', 1],
                      ['Broadcast Media', 1],
                      ['Hospital & Health Care', 1],
                      ['Law Practice', 1],
                      ['Staffing and Recruiting', 1],
                      ['Writing and Editing', 1]
                    ]);

                    var options = {
                      is3D: true,
                      slices: {  0: {offset: 0.2},
                                          1: {offset: 0.2},
                                          2: {offset: 0.2}
                                },
                      legend: {position: 'left', textStyle: {color: 'black', fontSize: 12}}
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                            chart.draw(data, options);
                  }

                </script>
            <div id="piechart_3d" style="width: 800px; height: 500px;margin:auto"></div>
        <!-- </div> -->
<!--         </div> -->
    </div>

    <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>


            <div class="content">
                    <h3 class="content-head is-center">Want to get involved with The Flatiron School?</h3>
                    <p></p>
                    <p class="content-head is-center">Become a <a href="http://flatironschool.com/hire.html">hiring partner</a> or <a href="http://go.flatironschool.com/apply">apply</a> to The Flatiron School today!</p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        Flatiron Circles was created with   &#9829;   by Sam Van Tran & Vaidehi Joshi, Ruby-006.
    </div>

</div>






</body>
</html>
